<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kbroz-Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header id="header">
        <a href="#">Home</a>
        <a href="#">Logout</a>
    </header>
    <div id="content">
        <div id="upload-form">
            <h2>Upload Resume</h2>
            <form action="#">
                <label for="resume">Choose a file:</label>
                <input type="text" id="resume" name="Name" placeholder="Name">
                <input type="text" id="resume" name="Tags" placeholder="Tags">
                <input type="file" id="resume" name="resume" accept=".pdf,.doc,.docx">
                <button type="submit">Upload</button>
            </form>
        </div>
        <div id="search-form">
            <h2>Search Resume</h2>
            <form action="#">
                <input type="text" id="resume" name="search" placeholder="Enter Tags..">
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
</body>    
    